body{
  font-family: Lato;
}
section{
  min-height:auto;
  padding: 1em 2em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 50em;
  margin:auto;
  /*! padding: 3em; */
  margin-top: 2em;
}

h1{
  text-align:center;
  margin: 0;
  margin-top: 0.3em;
  margin-bottom: 1em;
}

a{
  color: #3a84df;
}

nav a{
  line-height: 2.5em;
}

.nav-2{
  line-height: 0em;
  font-size: 0.8em;
}

.col {
    min-width: 23em;
    max-width: 23em;
    /*! padding-left: 2em; */
    /*! margin-right: 2em; */
}

#contacts p{
    margin-bottom:0;
}


.col-esq {
    padding-right: 2em; 
}

.col-dir {
    padding-left: 2em;
}

.btn-sub{
    display: inline-block;
    background: #1F3871;
    color: #FFF;
    cursor: pointer;
    font-weight: 700;
}
	.btn:hover{
		 opacity: .8;
	}

  .btn {
  	font-family: lato,sans-serif;
      font-size: 1.126rem;
      text-decoration: none;

  }
   .box{
  	border: 1px;
      border-radius: 4px;
      padding: 15px;
  		text-align: center;
  }

  .grey{
  	background-color: #eee;
  }
  .box a, .box a:visited{
  	color: white;
  }


#box{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#top{
  min-width: initial;
  display: flex;
  text-align: center;
  max-width: 100vw;
 /*Ocupa o ecran todo*/
  min-height:100vh; /*min-height para nao sobrepor o conteudo original quando a janela é muito pequena*/
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; /*faz com que o footer não esteja paralelo com o conteudo*/

  background: url('/academy-articles/img/stars.png'), -webkit-radial-gradient(50% 40%, 20rem circle, rgb(22, 47, 117), rgba(255, 255, 255, 0)), -webkit-linear-gradient(#162141, #1D2C4E);

  background: url('/academy-articles/img/stars.png'), radial-gradient(20rem circle at 50% 40%, rgb(22, 47, 117), rgba(255, 255, 255, 0)), linear-gradient(#162141, #1D2C4E);
  background-color: #061841;

  margin-top: 0em;
  margin-bottom: 4em;
}

@media all and (max-width: 830px) {
    .col {
        max-width: 50em;
    }
    .col-esq {
    padding-right: 0em; 
    }

    .col-dir {
        padding-left: 0em;
    }
}
