<!-- Begin MailChimp Signup Form -->
<!-- para o ç funcionar-->
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

<style type="text/css">
#mc_embed_signup,h2 {
	margin: initial;
	margin-bottom: 1em;
	color: #555459;
}


	#mc_embed_signup input.mce_inline_error {
        border: 2px solid #C32929 !important;
    }

    #mc_embed_signup div.mce_inline_error {
    font-family: lato,sans-serif;
    border-radius: 4px !important ;
        background-color: inherit !important;
    color: #C32929 !important;
    margin: 1em 0 0 0 !important;
}

    .response{
			font-family: lato,sans-serif;
        font-family: lato,sans-serif;
				margin:auto;
				margin-top:1em;
				max-width: 20em;


    }
.btn-sub{
    display: inline-block;
    background: #1F3871;
    color: #FFF;
    cursor: pointer;
    font-weight: 700;
}
	.btn:hover{
		 opacity: .8;
	}

#mce-EMAIL {
    text-align: left;
    width: 15pc;
    outline: 0;
    color: #555459;
    border: 1px solid #C5C5C5;
    border-radius: .25rem;
    -webkit-appearance: none;
}

#mc_embed_signup {
text-align: center;
  /*background-color: #F1F1F1;*/
  max-width:40em;
    margin:auto;
}

.btn {
	font-family: lato,sans-serif;
    font-size: 1.126rem;
    text-decoration: none;

}
 .box{
	border: 1px;
    border-radius: 4px;
    padding: 15px;
		text-align: center;
}

.grey{
	background-color: #eee;
	margin-bottom: 3em;
}
.box a, .box a:visited{
	color: white;
}

@media only screen and (max-width: 450px){
#mc-embedded-subscribe {
    margin-top: 10px;
    width:100%;
}
.btn, #mce-EMAIL{
	width:100%;
	box-sizing: border-box; /*problema com o padding e a margin*/
}
}
</style>

<div class="box grey">
<!--	<h2 style="font-family: lato,sans-serif;">As inscrições para a edição do jeKnowledge Academy deste ano abrem em breve, fica atento.</h2>
-->

	<h2 style="font-family: lato,sans-serif;">As inscrições para a edição do jeKnowledge Academy deste ano já estão abertas.</h2>
  <input type="submit" value="Fica a saber de tudo" class="btn btn-sub box button"> <a href="{{ site.baseurl }}/Academy2016">

</div>
