<!-- Begin MailChimp Signup Form -->
<!-- para o ç funcionar-->
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

<style type="text/css">

.btn-sub{
    display: inline-block;
    background: #1F3871;
    color: #FFF;
    cursor: pointer;
    font-weight: 700;
}
	.btn:hover{
		 opacity: .8;
	}

.btn {
	font-family: lato,sans-serif;
    font-size: 1.126rem;
    text-decoration: none;

}
 .box{
	border: 1px;
    border-radius: 4px;
    padding: 15px;
		text-align: center;
		/*margin-top: -25px;*/
}

.grey{
	background-color: #eee;
	margin-bottom: 3em;
}
.box a, .box a:visited{
	color: white;
}

@media only screen and (max-width: 450px){
.btn,{
	width:100%;
	box-sizing: border-box; /*problema com o padding e a margin*/
}
}
</style>

<div class="box grey">
<!--	<h2 style="font-family: lato,sans-serif;">As inscrições para a edição do jeKnowledge Academy deste ano abrem em breve, fica atento.</h2>
-->

	<p style="font-family: lato,sans-serif;">As inscrições para o jeKnowledge Academy já terminaram.</p>
  <span type="submit" value="Fica a saber de tudo" class="btn btn-sub box button"><a href="{{ site.baseurl }}/Academy2017" >Fica a saber de tudo</a></span>
</div>
