

<style>
.btn {
      border-radius: 0px;
    font-family: Arial;
    color: #FFFFFF;
    font-size: 20px;
    background: rgba(255, 255, 255, 0);
    padding: 10px 20px 10px 20px;
    border: solid #051D54 3px;
    text-decoration: none;
    cursor: pointer;
    background: url('/academy-articles/img/stars.png'),linear-gradient(#03113C, #061E56);
}

.btn:hover {
  background: url('/academy-articles/img/stars.png'),linear-gradient(#0B2984, #061E56);
  text-decoration: none;
}

.email{
background: rgba(255, 255, 255, 0);
    padding: 10px 20px 10px 20px;
    border: solid #051D54 3px;
    float: left;
    font-size: 20px;
    margin-right: -2px;
    display:block;
}

</style>

<div>
Subscreve n sei que
<div style="margin:auto">
	<div>
		<!--<label>Email Adress</label>-->
		<input placeholder="Endereço de E-mail" class="email">
	</div>
	<div>
		<button class="btn" type="submit" value="Subscribe">
		<span>Subscrever</span>
		</button>
	</div>
</div>
</div>
