<div class="width">
  <a href="{{ site.baseurl }}/"><h3 class="logo">jeKnowledge Academy</h3></a>
  <nav>
    {% if page.title != "jeKnowledge Academy Blog" %}
    <a href="{{ site.baseurl }}/" class="selected">Home</a>
    {% endif %}
    <!--<a href="{{ site.baseurl }}/Academy2016">Academy</a>-->
    <a href="http://jeknowledge.pt/" target="_black" class="applink appstore-link" title="jeKnowledge">jeKnowledge</a>
    <a href="https://github.com/jeKnowledge" target="_black" class="applink playstore-link" title="Github">Github</a>
  </nav> </div>
  <div class="clear"></div>
