<!-- Begin MailChimp Signup Form -->
<!-- para o ç funcionar-->
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    
<style type="text/css">
	#mc_embed_signup input.mce_inline_error {
        border: 2px solid #C32929 !important;
    }   
    
    #mc_embed_signup div.mce_inline_error {
    font-family: lato,sans-serif;
    border-radius: 4px !important ;
        background-color: inherit !important;
    color: #C32929 !important;
    margin: 1em 0 1em 0 !important;
}
    
    #mce-success-response{
    font-family: lato,sans-serif;
    background-color: #F1F1F1;
    max-width: 30em;
    margin-top: 1em;
}
    .response{
        font-family: lato,sans-serif;
        
    }
	.btn-sub{
    display: inline-block;
    background: #1F3871;
    color: #FFF;
    cursor: pointer;
    font-weight: 700;
}
	.btn:hover{
		 opacity: .8;
	}

#mce-EMAIL {
    text-align: left;
    width: 15pc;
    outline: 0;
    color: #555459;
    border: 1px solid #C5C5C5;
    border-radius: .25rem;
    -webkit-appearance: none;
}

#mc_embed_signup {
    text-align: center;
    background-color: #F1F1F1;
    max-width:30em;
    margin:auto;
}


.btn {
	font-family: lato,sans-serif;
    font-size: 1.126rem;
    text-decoration: none;
	
}

.box{
	border: 1px;
    border-radius: 4px;
    padding: 15px;
}

@media only screen and (max-width: 450px){
#mc-embedded-subscribe {
    margin-top: 10px;
    width:100%;
}
.btn, #mce-EMAIL{
	width:100%;
	box-sizing: border-box; /*problema com o padding e a margin*/
}
}
</style>

<div id="mc_embed_signup" class="box">
<form action="//jeknowledge.us1.list-manage.com/subscribe/post?u=99ac5170563b153320f14e99e&amp;id=c79825bffd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<h3 style="font-family: lato,sans-serif;">Fica a saber de novidades e dos novos artigos</h2>
<div class="mc-field-group">
	<input placeholder="Endereço de e-mail" class="btn box " type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
    <input type="submit" value="Submeter" name="subscribe"  id="mc-embedded-subscribe" class="btn btn-sub box button"></div>
</div>

	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    
	<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_99ac5170563b153320f14e99e_c79825bffd" tabindex="-1" value=""></div>
    
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text'; }(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
