---
layout: default
---

<style type="text/css">
  body{
    min-width: initial;
    display:flex;
    text-align: center;
  /*Ocupa o ecran todo*/
    min-height:100vh; /*min-height para nao sobrepor o conteudo original quando a janela é muito pequena*/
    flex-wrap: wrap; /*faz com que o footer não esteja paralelo com o conteudo*/


  }

  footer{

    width: 100%;/*expande horizontalmente footer*/
    align-self: flex-end;/*footer no fim da pagina*/
  }

  .content{
        margin: auto; /*centra conteudo*/
  }
</style>

<div class="post" id="article">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>
<br>
  <article class="post-content">
    {{ content }}
  </article>

</div>
